.comment-textbox {
    width: 400px;
    height: 100px;
}

.numberbutton {
    margin-right: 50px;
  }
  
  img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  }
  
  .number {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin-right: 20px;
  }
  