html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Chilanka';
  margin: 0px;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav a {
  margin-left: 10px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  background-color: #f2e1c1; 
   color: #795548;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  padding: 12px 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #f2cc8f;;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  font-family: "Chilanka";
  text-decoration: none;
  background-color: #f2e1c1;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #ffffff;
}

.btn_asLink:hover {
  text-decoration: none;
  background-color: transparent;
  border-color: #efebe9;
  color: #cdaa88;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */



.faddstoryform-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.formPanel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(121, 85, 72, 0.8);
  backdrop-filter: blur(2px);
  padding: 70px;
  color: white;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formPanel input {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #f2e1c1;
  background-color: rgba(255, 255, 255, 0.8);
  color: #fff;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.formtext {
  margin-bottom: 20px;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 34px;
  position: absolute;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  z-index: 5;
  transform: translate(-50%, -50%);
}

.formregisterPanel {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  padding: 70px;
  color: white;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.2);
}
input {
  margin: 10px;
  margin-bottom: 10px;
}
